.setupBar,
.priceSetup,
.discountSetup,
.sortSetup {
  display: flex;
  align-items: center;
  gap: 16px;
}
.setupBar {
  gap: 3%;
  margin-bottom: 40px;
}
.setupBar h5 {
  color: var(--txt-black, #282828);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}
.setupBar input,
.setupBar select {
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  padding: 8px 16px;
  outline: none;
}
.checkbox {
  width: 36px;
  height: 36px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
}
