.inputs {
  display: flex;
  align-items: center;
}

.priceText {
  color: var(--txt-black, #282828);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  margin-right: 18px;
}

.input {
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  padding: 8px 16px;
  outline: none;
}

.price {
  padding: 8px 16px;
  margin-right: 18px; /* Adjust the margin as needed */
}
